@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Свойства width и height  включают в себя 
  значения полей и границ, но не отступов (margin).*/
}
.content {
  font-family: OpenSans;
  width: 100%;
  height: 100%;
  background: red;

}
.content__header {
  background: url(image/bg.png);
  display: flex;
  flex-direction: column; /*главная ось стала вертикальной*/
  justify-content: space-between; /*выравнивание блоков с обинаковыми отступами между*/
  width: 100%;
  height: 100vh; /*область просмотра браузера*/
  background-position-x: center; /*позиционирование фона - следующие 4 строки*/
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 41px 0 71px 0;
  align-items: center; /*позиционирование по центру*/
}
.content__header-center {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.content__header-center > h2 {
  font-family: Arial;
  font-size: 50px;
}
.content__header-scroll {
  cursor: pointer;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 3.7px;
}
.content__menu {
  height: 65px;
  border-bottom: 1px solid #e6e6e6;
}
.menu__box{
  max-width: 940px;
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  
}
.content__menu__buttons {
  display: flex;
  max-width: 410px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  justify-content: space-around;
  letter-spacing: 1.09091px;
  color: #48555b;
  font-weight: 600;
}
.content__menu__buttons > li{
  list-style-type: none;
  cursor: pointer;
}
.content__menu__buttons>li:hover{
  color: #00aeff;
}
.content__ourstory__h {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: center;
}
.content__ourstory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 940px;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  margin: auto;
  letter-spacing: 2.30625px;
  
}
.content__ourstory__text1{
  font-size: 18px;
  text-align: center;
  letter-spacing: 2.30625px;
  font-weight: 600;
  color: #48555B;
}
.content__ourstory__line {
  width: 50px;
  height: 3px;
  
}
.content2 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  
}
.content__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 406px;
  text-align: left;
  
  line-height: 23px;
  font-size: 13px;
  letter-spacing: 0.1875px;

  
}
.content__text1 {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  font-weight: 600;
}
.content_image {
  display: flex;
  justify-content: space-between;
  width: 450px;
  
}
.content__image_img1 {
  display: flex;
  width: 140px;
  height: 224px;
  text-align: left;
  background: url(image/png1.png);
}
.content__image_img2 {
  display: flex;
  width: 140px;
  height: 224px;
  text-align: left;
  background: url(image/png2.png);
}
.content__image_img3 {
  display: flex;
  width: 140px;
  height: 224px;
  text-align: left;
  background: url(image/png3.png);
}
.image__text {
  font-size: 24px;
  line-height: 29px;
  padding: 20px;
  display: flex;
  font-family: OpenSans;
  letter-spacing: 0.1875px;
  color: #ffffff;
}
.content__capabilies1{
  display: flex;
  justify-content: space-between;
  
}
.content__capabilies {
  display: flex;
  justify-content: space-between;
  width: 253px;
  height: 100px;
  align-items: flex-end;
  
}
.content__into{
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 550px;
  align-items: flex-end;

  font-size: 11px;
line-height: 19px;
letter-spacing: 0.2px;
}
.content__ourcapabilies {
  display: flex;
  flex-direction: column;
}
.content__capabilies__text {
  font-size: 11px;
  
  letter-spacing: 0.2px;
  color: #48555b;
}
.buttom {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 40px;
  display: flex;
  background: #00a4e5;
}
.buttom__text {
  font-family: OpenSans;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.cotent__images {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}
.content__image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 290px;
  height: 330px;
  border: 1px solid #e6e6e6;
  font-weight: 400;
  padding: 20px;
  text-align: left;
}
.foto {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-position-x: center; /*позиционирование фона - следующие 4 строки*/
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(image/getin.png);
  background-color: aqua;
}
.text {
  font-size: 30px;
  padding-bottom: 30px;
  letter-spacing: 0.15px;
  color: #48555b;
}
.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  height: 100px;
  padding: 0 300px;
  background-color: #171819;
}
.signup__text {
  display: flex;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.846154px;
  color: #ffffff;
}
.signup__inputbuttom {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.signup__input {
  height: 40px;
  width: 250px;
  background: #ffffff;
  border: 1px solid #979797;
  
}
.signup__input:focus{
  outline: none;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  color: #ffffff;
  background-color: #141a20;
}
.footer__1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 148px;

}
.footer__1__h {
  display: flex;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
}
.footer__1__text {
  display: flex;
  align-items: center;
  width: 250px;
  font-size: 11px;
  line-height: 19px;
  
  letter-spacing: 0.85px;
}
.footer__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  
}
.footer__3_punkts{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: flex-start;
  height: 75px;
  width: 100px;
  font-size: 11px;
 
}
.footer__2_h {
  display: flex;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.846154px;
}
.footer__2_columns {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  height: 148px;
 
}
.footer__2_punkts {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: flex-start;
  height: 148px;
  width: 100px;
  font-size: 11px;
  letter-spacing: 0.846154px;
}

.company {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 11px;
  letter-spacing: 0.846154px;
  color: #ffffff;
  background-color: #171819;
}

